<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index | Notes</title>
        <link rel="stylesheet" href="/public/css/style.css">
        <script src="/send_url.js"></script>
    </head>
    <body>
        <header>
            <div class="header-logo">
                <a href="/">Notes</a>
            </div>
        </header>
        <div class="container">
            <div class="container-header">
                <h1>All Notes</h1>
            </div>
            <div class="index-table-wrapper">
                <div class="table-head">
                    <span class="id-column">Date</span>
                    <span class="name-column">Contents</span>
                </div>
                <% const notes = [
                    {date: '2024-1-19', contents: '記入したメモがここに表示されます。'},
                ]; %>            
                <ul class="table-body">
                    <% notes.forEach((note) => { %>
                    <li>
                        <span class="id-column"><%= note.date %></span>
                        <span class="name-column"><%= note.contents %></span>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <div class="return-menu">
                <a href="/">TOPに戻る</a>
            </div>
        </div>
    </body>
</html>
